.topAddBar{
    display: flex;
    background-color:  #5A0C3D;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 15px;
    gap: 15px;
    justify-content: center;
    text-align: center;
    



}

.x-btn{
    cursor: pointer;
}