.nabVar-container {
  display: flex;
  padding: 24px 64px;
  background-color: #F8F8F8;
  align-items: center;
  justify-content: space-between;

}

.menu-btn {
  justify-self: start;
  display: block;
  width: 317px;
  height: 20px;
}



.logo-img {
  justify-self: center;
  height: 32px;
  object-fit: contain;
}

.header-actions {
  display: flex;
  justify-self: end;

  gap: 20px;
}

.icon-action {
  height: 24px;
  width: 24px;
}

.icon-btn-icon {
  height: 20px;
  width: 20px;
}


.action-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

}




.icon-btn {
  background: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.action-item:hover {
  color: #5A0C3D;
  font-weight: 600;
}

@media (max-width: 1075px) {
  .nabVar-container {

  padding: 10px 10px;


}
  .menu-btn {
    width: 60px;
  }
  .action-item{
    display: none;
  }
  
}

